<h1>Welcome to Mister Cocktail</h1>

<% @cocktails.each do |cocktail| %>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-description">
    <h2><%= cocktail.name %></h2>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <%= link_to '', cocktail, class: 'card-link' %>
  <!-- <a class="card-link" href="#" ></a> -->
</div>
<% end %>

<%= link_to '+ Add cocktail', new_cocktail_path %>
