<h1>New Cocktail</h1>

<%= simple_form_for @cocktail do |f| %>
  <% if @cocktail.errors.any? %>
    <div class="errors-container">
      Not cool…
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.submit %>
<% end %>

