<h1><%= @cocktail.name %></h1>

<h4>This cocktail is made of:</h4>
<% @cocktail.doses.each do |dose| %>
<p><%= dose.amount %> of <%= dose.ingredient.name %></p>
<% end %>

<%= link_to '+ Add a new dose', new_cocktail_dose_path(@cocktail) %>
